<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ProductMapper">

    <resultMap id="ProductDtoResultMap" type="com.example.demo.model.dto.ProductDto" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="view" property="view"/>
        <result column="sold" property="sold"/>
        <result column="productImage" property="productImage"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
        <result column="priceAfterDiscount" property="priceAfterDiscount"/>
    </resultMap>

    <resultMap id="ProductDetailDtoResultMap" type="com.example.demo.model.dto.ProductDetailDto" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="view" property="view"/>
        <result column="sold" property="sold"/>
        <result column="productImage" property="productImage"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="price" property="price"/>
        <result column="totalRating" property="totalRating"/>
        <result column="userRating" property="userRating"/>
        <result column="quantity" property="quantity"/>
        <result column="priceAfterDiscount" property="priceAfterDiscount"/>
        <association property="brand" javaType="com.example.demo.model.dto.BrandDto" columnPrefix="b_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="description" property="description"/>
        </association>
        <collection property="listCategory" ofType="com.example.demo.model.dto.CategoryDto"
                    autoMapping="true" columnPrefix="c_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="description" property="description"/>
        </collection>
    </resultMap>

    <sql id="statistic_product_quantity">
        statistic_product_quantity AS
        (
        SELECT product_id as productId,
        SUM(quantity) as quantity
        FROM product_batch GROUP BY product_id
        )
    </sql>

    <sql id="statistic_product_rating">
        statistic_product_rating AS
        (
        SELECT product_id as productId,
        AVG(rating) as rating
        FROM rating r GROUP BY product_id
        )
    </sql>

    <sql id="statistic_product_priceAfterDiscount">
        statistic_product_priceAfterDiscount AS
        (
        SELECT p.id as productId,
        pr.discount_price as discountPrice
        FROM product p
        LEFT JOIN promotion pr ON pr.product_id = p.id
        WHERE pr.start_time <![CDATA[<=]]> date(NOW()) AND pr.end_time <![CDATA[>=]]> date(NOW()) AND pr.is_active = true
        )
    </sql>

    <sql id="statistic_user_rating">
        statistic_user_rating AS
        (
        SELECT product_id as productId,
        rating as rating
        FROM rating r WHERE user_id = #{userId} AND product_id = #{productId}
        )
    </sql>

    <select id="getById" resultMap="ProductDetailDtoResultMap">
        WITH
        <include refid="statistic_product_quantity"/>,
        <include refid="statistic_product_rating"/>,
        <include refid="statistic_user_rating"/>,
        <include refid="statistic_product_priceAfterDiscount"/>
        SELECT p.id as id,
        p.name as name,
        p.description as description,
        p.product_image as productImage,
        p.sold as sold,
        p.is_deleted as isDeleted,
        p.price as price,
        p.view as view,
        COALESCE(spq.quantity, 0) as quantity,
        COALESCE(spr.rating, 0) as totalRating,
        COALESCE(sur.rating, 0) as userRating,
        p.price - COALESCE(spp.discountPrice, 0) as priceAfterDiscount,
        b.id as b_id,
        b.name as b_name,
        b.description as b_description,
        c.id as c_id,
        c.name as c_name,
        c.description as c_description
        FROM product p
        LEFT JOIN brand b ON b.id = p.brand_id
        LEFT JOIN product_category pc ON pc.product_id = p.id
        LEFT JOIN category c ON c.id = pc.category_id
        LEFT JOIN statistic_product_priceAfterDiscount spp ON spp.productId = p.id
        LEFT JOIN statistic_product_quantity spq ON spq.productId = p.id
        LEFT JOIN statistic_product_rating spr ON spr.productId = p.id
        LEFT JOIN statistic_user_rating sur ON sur.productId = p.id
        WHERE p.id = #{productId}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product(name,
        description,
        price,
        product_image,
        brand_id,
        is_deleted)
        VALUES (#{productInfo.name},
        #{productInfo.description},
        #{productInfo.price},
        #{productInfo.productImage},
        #{productInfo.brandId},
        #{productInfo.isDeleted})
    </insert>

    <insert id="setCategory">
        INSERT INTO product_category(product_id,
        category_id)
        VALUES (#{productId},
        #{categoryId})
    </insert>

    <delete id="deleteCategory">
        DELETE
        FROM product_category
        WHERE product_id = #{productId}
    </delete>

    <sql id="productFilter">
        productFilter AS(
        SELECT p.id
        FROM product p
        <if test="listCategoryIds.size() > 0">
            INNER JOIN category_product cp ON p.id = cp.product_id
            WHERE cp.category_id IN
            <foreach item="categoryId" collection="listCategoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
            GROUP BY p.id HAVING COUNT(p.id) = #{listCategoryIds.size()}
        </if>
        )
    </sql>

    <select id="getList" resultMap="ProductDtoResultMap">
        WITH
        <include refid="productFilter"/>,
        <include refid="statistic_product_priceAfterDiscount"/>
        SELECT p.id as id,
        p.name as name,
        p.description as description,
        p.product_image as productImage,
        p.sold as sold,
        p.is_deleted as isDeleted,
        p.price as price,
        p.view as view,
        p.price - COALESCE(spp.discountPrice, 0) as priceAfterDiscount
        FROM product p
        INNER JOIN productFilter pf ON p.id = pf.id
        LEFT JOIN statistic_product_priceAfterDiscount spp ON spp.productId = p.id
        WHERE p.is_deleted = false
        <if test="productName != null">
            AND p.name like CONCAT("%", #{productName}, "%")
        </if>
        <if test="brandId != null">
            AND p.brand_id = #{brandId}
        </if>
    </select>

    <select id="getTopSold" resultMap="ProductDtoResultMap">
        WITH
        <include refid="productFilter"/>,
        <include refid="statistic_product_priceAfterDiscount"/>
        SELECT p.id as id,
        p.name as name,
        p.description as description,
        p.product_image as productImage,
        p.sold as sold,
        p.is_deleted as isDeleted,
        p.price as price,
        p.view as view,
        p.price - COALESCE(spp.discountPrice, 0) as priceAfterDiscount
        FROM product p
        INNER JOIN productFilter pf ON p.id = pf.id
        LEFT JOIN statistic_product_priceAfterDiscount spp ON spp.productId = p.id
        WHERE p.is_deleted = false
        <if test="productName != null">
            AND p.name like CONCAT("%", #{productName}, "%")
        </if>
        <if test="brandId != null">
            AND p.brand_id = #{brandId}
        </if>
        ORDER BY p.sold DESC
    </select>


    <select id="getTopView" resultMap="ProductDtoResultMap">
        WITH
        <include refid="productFilter"/>,
        <include refid="statistic_product_priceAfterDiscount"/>
        SELECT p.id as id,
        p.name as name,
        p.description as description,
        p.product_image as productImage,
        p.sold as sold,
        p.is_deleted as isDeleted,
        p.price as price,
        p.view as view,
        p.price - COALESCE(spp.discountPrice, 0) as priceAfterDiscount
        FROM product p
        INNER JOIN productFilter pf ON p.id = pf.id
        LEFT JOIN statistic_product_priceAfterDiscount spp ON spp.productId = p.id
        WHERE p.is_deleted = false
        <if test="productName != null">
            AND p.name like CONCAT("%", #{productName}, "%")
        </if>
        <if test="brandId != null">
            AND p.brand_id = #{brandId}
        </if>
        ORDER BY p.view DESC
    </select>

    <update id="updateStatus">
        UPDATE product
        SET is_deleted = true
        WHERE id = #{productId}
    </update>

    <update id="updateView">
        UPDATE product
        SET view = view + 1
        WHERE id = #{productId}
    </update>

    <update id="updateProduct">
        UPDATE product
        SET name = #{productInfo.name},
        description = #{productInfo.description},
        <if test="productInfo.productImage != null">
            product_image = #{productInfo.productImage},
        </if>
        price = #{productInfo.price},
        brand_id = #{productInfo.brandId}
        WHERE id = #{productInfo.id}
    </update>

    <update id="updateSoldQuantity">
        UPDATE product
        SET sold = sold + #{quantity}
        WHERE id = #{productId}
    </update>

    <insert id="ratingProduct">
        INSERT INTO rating(user_id,
        product_id,
        rating)
        VALUES (#{userId},
        #{ratingInfo.productId},
        #{ratingInfo.rating})
    </insert>

    <select id="isRating" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM rating r WHERE r.user_id = #{userId} AND r.product_id = #{productId})
    </select>

    <update id="updateRating">
        UPDATE rating
        SET rating = #{ratingInfo.rating}
        WHERE user_id = #{userId} AND product_id = #{ratingInfo.productId}
    </update>
</mapper>