<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.VoucherMapper">

    <resultMap id="VoucherDtoResultMap" type="com.example.demo.model.dto.VoucherDto" autoMapping="true">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="usedQuantity" property="usedQuantity"/>
        <result column="totalQuantity" property="totalQuantity"/>
        <result column="discountPrice" property="discountPrice"/>
        <result column="startTime" property="startTime"/>
        <result column="endTime" property="endTime"/>
        <result column="isActive" property="isActive"/>
        <result column="voucherCondition" property="voucherCondition"/>
    </resultMap>

    <select id="existsByCode" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM voucher v WHERE v.code = #{voucherCode})
    </select>

    <insert id="create">
        INSERT INTO voucher(code,
        voucher_condition,
        description,
        discount_price,
        end_time,
        start_time,
        total_quantity,
        created_at,
        updated_at,
        is_active)
        VALUES (#{voucherInfo.code},
        #{voucherInfo.condition},
        #{voucherInfo.description},
        #{voucherInfo.discountPrice},
        #{voucherInfo.endTime},
        #{voucherInfo.startTime},
        #{voucherInfo.totalQuantity},
        NOW(),
        NOW(),
        true)
    </insert>

    <select id="findAll" resultMap="VoucherDtoResultMap">
        SELECT v.id as id,
        v.code as code,
        v.voucher_condition as voucherCondition,
        v.description as description,
        v.discount_price as discountPrice,
        v.end_time as endTime,
        v.start_time as startTime,
        v.total_quantity as totalQuantity,
        v.used_quantity as usedQuantity,
        v.is_active as isActive
        FROM voucher v
    </select>

    <select id="findVoucherValid" resultMap="VoucherDtoResultMap">
        SELECT v.id as id,
        v.code as code,
        v.voucher_condition as voucherCondition,
        v.description as description,
        v.discount_price as discountPrice,
        v.end_time as endTime,
        v.start_time as startTime,
        v.total_quantity as totalQuantity,
        v.used_quantity as usedQuantity,
        v.is_active as isActive
        FROM voucher v
        WHERE v.start_time &gt;= NOW() AND v.end_time &lt;= NOW() AND v.is_active = true
    </select>

    <select id="findById" resultMap="VoucherDtoResultMap">
        SELECT v.id as id,
        v.code as code,
        v.voucher_condition as voucherCondition,
        v.description as description,
        v.discount_price as discountPrice,
        v.end_time as endTime,
        v.start_time as startTime,
        v.total_quantity as totalQuantity,
        v.used_quantity as usedQuantity,
        v.is_active as isActive
        FROM voucher v
        WHERE v.id = #{voucherId}
    </select>

    <select id="findByCode" resultMap="VoucherDtoResultMap">
        SELECT v.id as id,
        v.code as code,
        v.voucher_condition as voucherCondition,
        v.description as description,
        v.discount_price as discountPrice,
        v.end_time as endTime,
        v.start_time as startTime,
        v.total_quantity as totalQuantity,
        v.used_quantity as usedQuantity,
        v.is_active as isActive
        FROM voucher v
        WHERE v.code = #{voucherCode} AND v.is_active = true
    </select>

    <update id="update">
        UPDATE voucher
        SET code = #{voucherInfo.code},
        voucher_condition = #{voucherInfo.condition},
        description = #{voucherInfo.description},
        discount_price = #{voucherInfo.discountPrice},
        end_time = #{voucherInfo.endTime},
        start_time = #{voucherInfo.startTime},
        total_quantity = #{voucherInfo.totalQuantity},
        updated_at = NOW()
        is_active = #{voucherInfo.isActive}
        WHERE id = #{voucherId}
    </update>
</mapper>